body {
  background-color: burlywood; }
  body nav {
    background-color: black;
    border: gold 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; }
    body nav img {
      margin-top: 25px;
      height: 200px; }
    body nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 90%; }
      body nav ul li {
        list-style: none; }
        body nav ul li .a-ravenclaw {
          color: gold;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          body nav ul li .a-ravenclaw:hover {
            color: blue;
            text-decoration: underline;
            font-size: 20px; }
        body nav ul li .a-slytherin {
          color: gold;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          body nav ul li .a-slytherin:hover {
            color: green;
            text-decoration: underline;
            font-size: 20px; }
        body nav ul li .a-hogwarts {
          color: gold;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          body nav ul li .a-hogwarts:hover {
            text-decoration: underline;
            font-size: 20px; }
        body nav ul li .a-gryffindor {
          color: gold;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          body nav ul li .a-gryffindor:hover {
            color: red;
            text-decoration: underline;
            font-size: 20px; }
        body nav ul li .a-hufflepuff {
          color: gold;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          body nav ul li .a-hufflepuff:hover {
            color: yellow;
            text-decoration: underline;
            font-size: 20px; }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    height: 1000px; }
    body main .hogwarts-info {
      background-color: black;
      display: flex;
      justify-content: space-between;
      width: 80%;
      height: 150px;
      margin: 20px; }
      body main .hogwarts-info p {
        color: gold;
        text-align: justify;
        margin: 10px; }
    body main .fundadores {
      background-color: black;
      text-align: center;
      align-items: center;
      width: 90%;
      height: 700px;
      display: flex;
      justify-content: space-around; }
      body main .fundadores .ss {
        width: 20%;
        height: 650px;
        margin: 5px; }
        body main .fundadores .ss h3 {
          color: goldenrod; }
        body main .fundadores .ss img {
          height: 150px; }
        body main .fundadores .ss p {
          text-align: justify;
          color: goldenrod; }
        body main .fundadores .ss .rr-h3 {
          color: blue; }
        body main .fundadores .ss .ss-h3 {
          color: green; }
        body main .fundadores .ss .gg-h3 {
          color: red; }
        body main .fundadores .ss .hh-h3 {
          color: yellow; }
  body footer {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: goldenrod; }
    body footer p {
      text-align: justify;
      margin: 20px; }
    body footer div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 30px; }
      body footer div img {
        height: 40px; }

.body-slytherin {
  background-color: darkgreen; }
  .body-slytherin nav {
    background-color: green;
    border: solid 1px silver;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; }
    .body-slytherin nav img {
      margin-top: 25px;
      height: 200px; }
    .body-slytherin nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 90%; }
      .body-slytherin nav ul li {
        list-style: none; }
        .body-slytherin nav ul li .a-ravenclaw {
          color: silver;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-slytherin nav ul li .a-ravenclaw:hover {
            color: blue;
            text-decoration: underline;
            font-size: 20px; }
        .body-slytherin nav ul li .a-slytherin {
          color: silver;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-slytherin nav ul li .a-slytherin:hover {
            text-decoration: underline;
            font-size: 20px;
            color: silver; }
        .body-slytherin nav ul li .a-hogwarts {
          color: silver;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-slytherin nav ul li .a-hogwarts:hover {
            text-decoration: underline;
            font-size: 20px;
            color: goldenrod; }
        .body-slytherin nav ul li .a-gryffindor {
          color: silver;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-slytherin nav ul li .a-gryffindor:hover {
            color: red;
            text-decoration: underline;
            font-size: 20px; }
        .body-slytherin nav ul li .a-hufflepuff {
          color: silver;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-slytherin nav ul li .a-hufflepuff:hover {
            color: yellow;
            text-decoration: underline;
            font-size: 20px; }
  .body-slytherin main {
    height: 1250px; }
    .body-slytherin main h2 {
      font-size: 50px;
      color: silver; }
    .body-slytherin main .info-slytherin {
      background-color: green;
      height: 250px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 75px; }
      .body-slytherin main .info-slytherin .div-ss {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .body-slytherin main .info-slytherin .div-ss h3 {
          color: silver; }
        .body-slytherin main .info-slytherin .div-ss img {
          height: 145px; }
      .body-slytherin main .info-slytherin p {
        width: 80%;
        color: silver; }
    .body-slytherin main .casa-sly {
      background-color: green;
      height: 300px;
      margin-top: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between; }
      .body-slytherin main .casa-sly .p1-slytherin {
        width: 30%;
        display: flex;
        align-items: center; }
        .body-slytherin main .casa-sly .p1-slytherin p {
          margin: 10px;
          text-align: justify;
          color: silver; }
      .body-slytherin main .casa-sly .p2-slytherin {
        display: flex;
        align-items: center;
        width: 60%; }
        .body-slytherin main .casa-sly .p2-slytherin p {
          margin: 10px;
          text-align: justify;
          color: silver; }
        .body-slytherin main .casa-sly .p2-slytherin img {
          height: 300px; }
    .body-slytherin main .personajes-slytherin {
      margin-top: 30px;
      width: 90%;
      display: flex;
      flex-direction: column; }
      .body-slytherin main .personajes-slytherin .personajes-1 {
        display: flex;
        justify-content: space-around; }
        .body-slytherin main .personajes-slytherin .personajes-1 h2 {
          color: silver;
          font-size: 13px; }
        .body-slytherin main .personajes-slytherin .personajes-1 img {
          height: 150px; }
        .body-slytherin main .personajes-slytherin .personajes-1 div {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center; }
      .body-slytherin main .personajes-slytherin .personajes-2 {
        display: flex;
        justify-content: space-around; }
        .body-slytherin main .personajes-slytherin .personajes-2 h2 {
          color: silver;
          font-size: 13px; }
        .body-slytherin main .personajes-slytherin .personajes-2 img {
          height: 150px; }
        .body-slytherin main .personajes-slytherin .personajes-2 div {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center; }
  .body-slytherin .footer-slytherin {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    margin-top: 75px; }
    .body-slytherin .footer-slytherin p {
      text-align: justify;
      margin: 20px;
      color: silver; }
    .body-slytherin .footer-slytherin div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 30px; }
      .body-slytherin .footer-slytherin div img {
        height: 40px; }

.body-ravenclaw {
  background-color: blue; }
  .body-ravenclaw .nav-ravenclaw {
    background-color: navy;
    border: solid 1px goldenrod;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; }
    .body-ravenclaw .nav-ravenclaw img {
      margin-top: 25px;
      height: 200px; }
    .body-ravenclaw .nav-ravenclaw ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 90%; }
      .body-ravenclaw .nav-ravenclaw ul li {
        list-style: none; }
        .body-ravenclaw .nav-ravenclaw ul li .a-ravenclaw {
          color: goldenrod;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-ravenclaw .nav-ravenclaw ul li .a-ravenclaw:hover {
            color: goldenrod;
            text-decoration: underline;
            font-size: 20px; }
        .body-ravenclaw .nav-ravenclaw ul li .a-ravenclaw {
          color: goldenrod;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-ravenclaw .nav-ravenclaw ul li .a-ravenclaw:hover {
            text-decoration: underline;
            font-size: 20px;
            color: green; }
        .body-ravenclaw .nav-ravenclaw ul li .a-hogwarts {
          color: goldenrod;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-ravenclaw .nav-ravenclaw ul li .a-hogwarts:hover {
            text-decoration: underline;
            font-size: 20px;
            color: goldenrod; }
        .body-ravenclaw .nav-ravenclaw ul li .a-gryffindor {
          color: goldenrod;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-ravenclaw .nav-ravenclaw ul li .a-gryffindor:hover {
            color: red;
            text-decoration: underline;
            font-size: 20px; }
        .body-ravenclaw .nav-ravenclaw ul li .a-hufflepuff {
          color: goldenrod;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-ravenclaw .nav-ravenclaw ul li .a-hufflepuff:hover {
            color: yellow;
            text-decoration: underline;
            font-size: 20px; }
  .body-ravenclaw .main-ravenclaw {
    height: 1000px; }
    .body-ravenclaw .main-ravenclaw h2 {
      font-size: 50px;
      color: goldenrod; }
    .body-ravenclaw .main-ravenclaw .info-ravenclaw {
      background-color: navy;
      height: 250px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 75px; }
      .body-ravenclaw .main-ravenclaw .info-ravenclaw .div-rr {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .body-ravenclaw .main-ravenclaw .info-ravenclaw .div-rr h3 {
          color: goldenrod; }
        .body-ravenclaw .main-ravenclaw .info-ravenclaw .div-rr img {
          height: 145px; }
      .body-ravenclaw .main-ravenclaw .info-ravenclaw p {
        width: 80%;
        color: goldenrod;
        text-align: justify; }
    .body-ravenclaw .main-ravenclaw .casa-rav {
      background-color: navy;
      height: 300px;
      margin-top: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between; }
      .body-ravenclaw .main-ravenclaw .casa-rav .p1-ravenclaw {
        width: 30%;
        display: flex;
        align-items: center; }
        .body-ravenclaw .main-ravenclaw .casa-rav .p1-ravenclaw p {
          margin: 10px;
          text-align: justify;
          color: goldenrod; }
      .body-ravenclaw .main-ravenclaw .casa-rav .p2-ravenclaw {
        display: flex;
        align-items: center;
        width: 60%; }
        .body-ravenclaw .main-ravenclaw .casa-rav .p2-ravenclaw p {
          margin: 10px;
          text-align: justify;
          color: goldenrod; }
        .body-ravenclaw .main-ravenclaw .casa-rav .p2-ravenclaw img {
          height: 300px; }
    .body-ravenclaw .main-ravenclaw .personajes-ravenclaw {
      margin-top: 30px;
      width: 90%;
      display: flex;
      flex-direction: column; }
      .body-ravenclaw .main-ravenclaw .personajes-ravenclaw .personajes-1 {
        display: flex;
        justify-content: space-around; }
        .body-ravenclaw .main-ravenclaw .personajes-ravenclaw .personajes-1 h2 {
          color: goldenrod;
          font-size: 13px; }
        .body-ravenclaw .main-ravenclaw .personajes-ravenclaw .personajes-1 img {
          height: 150px; }
        .body-ravenclaw .main-ravenclaw .personajes-ravenclaw .personajes-1 div {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center; }
  .body-ravenclaw .footer-ravenclaw {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
    margin-top: 75px; }
    .body-ravenclaw .footer-ravenclaw p {
      text-align: justify;
      margin: 20px;
      color: goldenrod; }
    .body-ravenclaw .footer-ravenclaw div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 30px; }
      .body-ravenclaw .footer-ravenclaw div img {
        height: 40px; }

.body-hufflepuff {
  background-color: yellow; }
  .body-hufflepuff .nav-hufflepuff {
    background-color: #c9c90f;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; }
    .body-hufflepuff .nav-hufflepuff img {
      margin-top: 25px;
      height: 200px; }
    .body-hufflepuff .nav-hufflepuff ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 90%; }
      .body-hufflepuff .nav-hufflepuff ul li {
        list-style: none; }
        .body-hufflepuff .nav-hufflepuff ul li .a-ravenclaw {
          color: black;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-hufflepuff .nav-hufflepuff ul li .a-ravenclaw:hover {
            color: blue;
            text-decoration: underline;
            font-size: 20px; }
        .body-hufflepuff .nav-hufflepuff ul li .a-slytherin {
          color: black;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-hufflepuff .nav-hufflepuff ul li .a-slytherin:hover {
            text-decoration: underline;
            font-size: 20px;
            color: darkgreen; }
        .body-hufflepuff .nav-hufflepuff ul li .a-hogwarts {
          color: black;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-hufflepuff .nav-hufflepuff ul li .a-hogwarts:hover {
            text-decoration: underline;
            font-size: 20px;
            color: goldenrod; }
        .body-hufflepuff .nav-hufflepuff ul li .a-gryffindor {
          color: black;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-hufflepuff .nav-hufflepuff ul li .a-gryffindor:hover {
            color: red;
            text-decoration: underline;
            font-size: 20px; }
        .body-hufflepuff .nav-hufflepuff ul li .a-hufflepuff {
          color: black;
          text-decoration: none;
          font-size: 16px;
          list-style: none; }
          .body-hufflepuff .nav-hufflepuff ul li .a-hufflepuff:hover {
            color: black;
            text-decoration: underline;
            font-size: 20px; }
  .body-hufflepuff main {
    height: 1000px; }
    .body-hufflepuff main h2 {
      font-size: 50px;
      color: black; }
    .body-hufflepuff main .info-hufflepuff {
      background-color: #c9c90f;
      height: 250px;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 75px; }
      .body-hufflepuff main .info-hufflepuff .div-ss {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .body-hufflepuff main .info-hufflepuff .div-ss h3 {
          color: black; }
        .body-hufflepuff main .info-hufflepuff .div-ss img {
          height: 145px; }
      .body-hufflepuff main .info-hufflepuff p {
        width: 80%;
        color: black; }
    .body-hufflepuff main .casa-huf {
      background-color: #c9c90f;
      height: 300px;
      margin-top: 100px;
      width: 90%;
      display: flex;
      justify-content: space-between; }
      .body-hufflepuff main .casa-huf .p1-hufflepuff {
        width: 30%;
        display: flex;
        align-items: center; }
        .body-hufflepuff main .casa-huf .p1-hufflepuff p {
          margin: 10px;
          text-align: justify;
          color: black; }
      .body-hufflepuff main .casa-huf .p2-hufflepuff {
        display: flex;
        align-items: center;
        width: 60%; }
        .body-hufflepuff main .casa-huf .p2-hufflepuff p {
          margin: 10px;
          text-align: justify;
          color: black; }
        .body-hufflepuff main .casa-huf .p2-hufflepuff img {
          height: 300px; }
    .body-hufflepuff main .personajes-hufflepuff {
      margin-top: 30px;
      width: 90%;
      display: flex;
      flex-direction: column; }
      .body-hufflepuff main .personajes-hufflepuff .personajes-1 {
        display: flex;
        justify-content: space-around; }
        .body-hufflepuff main .personajes-hufflepuff .personajes-1 h2 {
          color: black;
          font-size: 13px; }
        .body-hufflepuff main .personajes-hufflepuff .personajes-1 img {
          height: 150px; }
        .body-hufflepuff main .personajes-hufflepuff .personajes-1 div {
          display: flex;
          flex-direction: column;
          text-align: center;
          justify-content: center; }
  .body-hufflepuff .footer-hufflepuff {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9c90f;
    margin-top: 75px; }
    .body-hufflepuff .footer-hufflepuff p {
      text-align: justify;
      margin: 20px;
      color: black; }
    .body-hufflepuff .footer-hufflepuff div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 30px; }
      .body-hufflepuff .footer-hufflepuff div img {
        height: 40px; }
