.body-slytherin {
    background-color: darkgreen;

    nav {
        background-color: green;
        border: solid 1px silver;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;

        img {
            margin-top: 25px;
            height: 200px;

        }

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 90%;
            height: 90%;

            li {
                list-style: none;


                .a-ravenclaw {
                    color: silver;
                    text-decoration: none;
                    font-size: 16px;
                    list-style: none;

                    &:hover {
                        color: blue;
                        text-decoration: underline;
                        font-size: 20px;
                    }
                }

                .a-slytherin {
                    color: silver;
                    text-decoration: none;
                    font-size: 16px;
                    list-style: none;

                    &:hover {
                        text-decoration: underline;
                        font-size: 20px;
                        color: silver;
                    }
                }

                .a-hogwarts {
                    color: silver;
                    text-decoration: none;
                    font-size: 16px;
                    list-style: none;

                    &:hover {
                        text-decoration: underline;
                        font-size: 20px;
                        color: goldenrod;
                    }
                }

                .a-gryffindor {
                    color: silver;
                    text-decoration: none;
                    font-size: 16px;
                    list-style: none;

                    &:hover {
                        color: red;
                        text-decoration: underline;
                        font-size: 20px;
                    }
                }

                .a-hufflepuff {
                    color: silver;
                    text-decoration: none;
                    font-size: 16px;
                    list-style: none;

                    &:hover {
                        color: yellow;
                        text-decoration: underline;
                        font-size: 20px;
                    }
                }
            }
        }
    }

    main {
        height: 1250px;
        h2 {
            font-size: 50px;
            color: silver;
        }

        .info-slytherin {
            background-color: green;
            height: 250px;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 75px;

            .div-ss {
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3 {
                    color: silver;
                }

                img {
                    height: 145px;
                }
            }

            p {
                width: 80%;
                color: silver;
            }
        }

        .casa-sly {
            background-color: green;
            height: 300px;
            margin-top: 100px;
            width: 90%;
            display: flex;
            justify-content: space-between;

            .p1-slytherin {
                width: 30%;
                display: flex;
                align-items: center;

                p {
                    margin: 10px;
                    text-align: justify;
                    color: silver;
                }
            }

            .p2-slytherin {
                display: flex;
                align-items: center;
                width: 60%;

                p {
                    margin: 10px;
                    text-align: justify;
                    color: silver;
                }

                img {
                    height: 300px;
                }
            }
        }

        .personajes-slytherin {
            margin-top: 30px;
            width: 90%;
            display: flex;
            flex-direction: column;

            .personajes-1 {
                display: flex;
                justify-content: space-around;

                h2 {
                    color: silver;
                    font-size: 13px;
                }

                img {
                    height: 150px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                }
            }

            .personajes-2 {
                display: flex;
                justify-content: space-around;

                h2 {
                    color: silver;
                    font-size: 13px;
                }

                img {
                    height: 150px;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    justify-content: center;
                }
            }
        }
    }
    .footer-slytherin {
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: green;
        margin-top: 75px;

        p {
            text-align: justify;
            margin: 20px;
            color: silver;

        }

        div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 30px;

            img {
                height: 40px;
            }
        }
    }
}